<% for column in Folder.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @folder.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @folder %> |
<%= link_to 'Back', :action => 'list' %>
