<% for column in Option.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @option.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @option %> |
<%= link_to 'Back', :action => 'list' %>
