<%= error_messages_for 'item' %>

<!--[form:item]-->
<p><label for="item_name">Name</label><br/>
<%= text_area 'item', 'name'  %></p>

<p><label for="item_full_path">Full path</label><br/>
<%= text_area 'item', 'full_path'  %></p>
<!--[eoform:item]-->

